.body {
  font-family: "Montserrat-light";
  text-align: center;
}

.container {
  max-width: 960px;
}
.container-fluid {
  padding: 7% 15%;

}
.building {
  top: -25%;
    right: auto;
    bottom: 0px;
    left: 5%;
}
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.title-image {
  position: static;
  transform: rotate(0);
  width: 100%;

}
.card {
  background-color: aquamarine;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}
.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
  text-align: center;
  color: #fff;
}
.footer-color {

    background-color: #fff;
    text-align: center;
    max-height: 960px;
    color: blue;
}
.company-logo {
    border-radius: 50%;
    width: 10%;
}
/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #8f8f8f;
}


/*
 * Extra utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }

/* home page css */
a:focus {
  color: #fff;
}
